version: 1.0.{build}
image: Visual Studio 2017
before_build:
- cmd: nuget restore Frankenbeanies.ValidationAttributes.sln
build:
  project: Frankenbeanies.ValidationAttributes.sln
  publish_wap_xcopy: true
  publish_nuget: true
  verbosity: minimal
test:
  assemblies:
    - Frankenbeanies.ValidationAttributes.Tests.dll
deploy:
  provider: NuGet
  api_key:
    secure: PJ0lnlKKgGi1fhpbpCf8UYKP2kCqyqyosBmwXw5J4skov9sO5a92I++eRH0Xq5ni
